/* Basic layout for the notes header */
.notesHeader {
  height: 58px;
  background: #e8e8e8;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Circle container for group initials */
.notesGroup {
  margin-left: 10px;
  width: 68px;
  height: 68px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Styles for displaying the group name */
.groupName {
  font-family: Roboto;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.48px;
}

/* Container for the notes and dates with a vertical scroll */
.NotesAndDate, .NotesAndDateMobile {
  overflow-y: auto;
  background-color: #f7ecdc;
  height: 60vh;
}

/* Responsive adjustments for mobile views */
.NotesAndDateMobile {
  height: 65vh;
}

/* Styling for each note's date and text container */
.DateAndText {
  display: flex;
}

/* Time display settings */
.Time, .TimeMobile {
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  color: #353535;
  letter-spacing: 0.373px;
  width: 10vh;
}

/* Date display settings */
.Date, .DateMobile {
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  color: #353535;
  letter-spacing: 0.373px;
}

/* Text content styling */
.Text, .TextMobile {
  margin-left: 20px;
  margin-right: 50px;
  display: flex;
}

/* Specific styles for mobile text display */
.TextMobile {
  text-align: justify;
  margin-left: 25px; /* Adjusted for alignment issues */
}

/* General styles for text input areas */
.Textarea, .TextareaMobile {
  margin: 10px 10px 15px;
}

/* Text input field styling */
.TextInput, .TextInputMobile {
  height: 18vh;
  padding: 20px;
  border-radius: 9px;
  resize: none;
  border: none;
  font-family: Roboto;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.596px;
}

/* Responsive adjustments for mobile text input */
.TextInputMobile {
  width: 96%; /* Full width with some padding */
}

/* Placeholder styles for input fields */
.TextInput::placeholder, .TextInputMobile::placeholder {
  color: #9a9a9a;
}

/* Send button styling */
.SendImg, .SendImgMobile {
  position: absolute;
  cursor: pointer;
  right: 40px;
  bottom: 30px;
}

/* Responsive adjustments for mobile send button */
.SendImgMobile {
  right: 5%; /* Slightly more towards the edge on mobile */
  bottom: 2%;
}

/* Special styling for mobile textarea */
.TextareaMobile {
  background-color: #e8e8e8;
}
