/* Base styles for the sidebar and message area */
.sidebarContainer, .sidebarContainerMobile {
  height: 100vh;
  margin-left: 20px;
}

.sidebarContainer {
  width: 30%;
}

.sidebarContainerMobile {
  width: 100%;
  height: fit-content;
}

/* Styling for headings */
.heading, .headingMobile {
  color: #000;
  font-family: Roboto;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 0.63px;
  line-height: normal;
}

.headingMobile {
  margin-left: 20px;
}

/* Common button styles */
.CreateButton, .CreateButtonMobile {
  height: 41px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 97%;
  letter-spacing: 0.54px;
}

.CreateButton {
  width: 303px;
  margin-left: 20px;
}

.CreateButtonMobile {
  width: inherit;
  margin: 0 auto 20px;
}

/* Styling for group lists and items */
.GroupList {
  overflow-y: auto;
}

.groupItem, .groupIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupItem {
  cursor: pointer;
  margin-bottom: 20px;
}

.groupItem.selected, .groupItem:hover {
  border-radius: 22px 0 0 22px;
  background-color: #f7ecdc;
}

.groupIcon {
  margin-left: 10px;
  width: 68px;
  height: 68px;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
}

.groupName {
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0.48px;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* General styles for the message area */
.MessageAreaContainer {
  background: #f7ecdc;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.MessageAreaText {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MessageAreaHeading {
  color: #000;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: normal;
  margin: 2px 0 10px;
}

.MessageAreaDescription {
  color: #292929;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.44px;
}

.MessageAreaFooter {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 32%;
}

/* Styling for custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
